name: PyPI (`stale_maccarone`)
on:
  release:
    types: [published]
jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install --upgrade pip
      - name: Preprocess with stale_maccarone
        run: |
          pip install stale_maccarone
          maccarone src/maccarone
          pip uninstall stale_maccarone
      - name: Rename to `stale_maccarone`
        run: |
          support/rename_to_stale.sh
      - name: Build package
        run: |
          pip install build
          python -m build
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{ github.ref_name }}
      - name: Publish package
        run: |
          pip install twine
          twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN_STALE_MACCARONE }}
